/* font added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
/* nav sections styles */
header {
  width: 1140px;
  height: 700px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.nav-title h2 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.nav-menu {
  width: 463px;
}
.nav-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-menu ul li {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.nav-menu ul li i {
  font-size: 35px;
}
/* banner sections styles */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
}
.banner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 16px;
}
.banner-description {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.banner-btn {
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.banner-btn i {
  margin-left: 8px;
}
.banner-right {
  background-image: url(../images/Circle\ design-svg.svg);
  width: 475px;
  height: 475px;
  background-repeat: no-repeat;
}
.banner-img {
}
/* ad banner sections styles */

.ad-banner-section {
  width: 1110px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
/* Popular Collection sections  */

.popular-collection-sections {
  width: 1047px;
  margin: 50px auto;
}
.popular-collection-sections h3 {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
}
.popular-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-collections-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.pci-img {
}
.pci-content {
}
.pci-content h4 {
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 6px;
}
.pci-content h5 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.pci-content p {
  color: #787885;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
}
.pci-content .icons {
  color: #fb8200;
  font-size: 12px;
}
.pci-content .icons span {
  color: #5e6366;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-left: 5px;
}
.popular-collection-sections .seemore {
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin: 50px 0;
}
.popular-collection-sections .seemore i {
  margin-left: 5px;
}

/* Mobile Phone  */

@media (max-width: 576px) {
  header {
    width: 100%;
    height: 100%;
  }
  nav {
    flex-direction: column;
    padding: 25px 0;
  }
  .nav-menu {
    width: 100%;
  }
  .banner-section {
    flex-direction: column-reverse;
    gap: 22px;
    margin-bottom: 30px;
  }
  .banner-left {
    text-align: center;
  }
  .banner-title {
    font-size: 28px;
    line-height: 42px;
  }
  .banner-description {
    font-size: 14px;
    line-height: 21px;
  }
  .banner-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    width: 350px;
  }
  .ad-banner-section {
    width: 100%;
    height: 100%;
    gap: 20px;
    margin: 50px 0;
  }
  .popular-collection-sections{
    width: 100%;
    margin: 25px auto;
  }
  .popular-collections{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .popular-collection-sections .seemore {
    margin: 25px 0;
  }
}
